.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  background-color: rgb(248 221 226);
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
}

.cellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: rgb(245 190 190);
  border: solid;
  border-color: rgb(255 233 233);
  border-width: 2px;
  border-radius: 15%;
  box-shadow: 5px 5px 5px -5px rgb(0 0 0 / 20%);
}

.stoneStyle {
  display: flex;
  width: 55px;
  height: 55px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 8px 5px 5px -5px rgb(89 74 74 / 20%);
}

.turnContainerStyle {
  display: flex;
  width: 100px;
  height: 60px;
  background-color: rgb(49 4 4);
}

.canPlacePointStyle {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: rgb(171 191 230);
  border-radius: 50%;
  box-shadow: 5px 5px 5px -5px rgb(0 0 0 / 20%);
}

.scoreBoardStyle {
  width: 300px;
  height: 300px;
  margin-left: 100px;
  background-color: rgb(231 157 157);
  border: solid;
  border-color: rgb(235 206 206);
  border-width: 2px;
  border-radius: 10%;
  box-shadow: 5px 5px 5px -5px rgb(0 0 0 / 20%);
}

.displayStrings {
  width: 60px;
  height: 30px;
  margin-left: 70px;
  font-family: 'Arial Rounded MT';
  font-size: 20px;
  color: white;
  border: solid90;
}

.turnSwitcher {
  display: flex;
  width: 160px;
  height: 60px;
  margin-top: 40px;
  margin-left: 55px;
  border-radius: 15px;
}

.stoneNumBoardStyle {
  display: flex;
  width: 300px;
  height: 50px;
  margin-top: 1px;
  border-radius: 15px;
}

.stoneNumStyle {
  display: flex;
  width: 60px;
  height: 30px;
  margin-top: 10.5px;
  font-family: 'Arial Rounded MT';
  font-size: 25px;
  color: white;
}

.skipCountBoardStyle {
  display: flex;
  width: 300px;
  height: 30px;
}
