.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
  font-family: 'Arial Rounded MT', sans-serif;
  background-color: rgb(248 221 226);
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
}

.boardStyle :hover {
  background-color: rgb(228 181 181);
  border-width: 2px;
}

.cellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: rgb(245 190 190);
  border: solid;
  border-color: rgb(255 233 233);
  border-width: 2px;
  border-radius: 15%;
  box-shadow: 5px 5px 5px -5px rgb(0 0 0 / 20%);
  transition: all 0.5s 0s ease;
}

.cellStyle :hover {
  background-color: rgb(218 160 160);
  transition: all 0.2s 0s ease;
}

.stoneStyle {
  display: flex;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  box-shadow: 8px 5px 5px -5px rgb(89 74 74 / 20%);
  transition: all 1s 0s ease;

  /* transform 0.3s linear; */
}

.turnContainerStyle {
  display: flex;
  width: 100px;
  height: 60px;
  background-color: rgb(49 4 4);
}

.canPlacePointStyle {
  display: flex;
  width: 85px;
  height: 78px;
  border: solid;
  border-color: rgb(206 107 98);
  border-width: 3.5px;
  border-radius: 15%;
  animation: blinking 0.4s ease-in infinite alternate;

  /* background-color: rgb(171 191 230); */

  /* border-radius: 50%; */

  /* box-shadow: 5px 5px 5px -5px rgb(0 0 0 / 20%); */
}

.scoreBoardStyle {
  width: 250px;
  height: 180px;
  margin-left: 100px;
  background-color: rgb(236 175 175);
  border: solid;
  border-color: rgb(255 209 209);
  border-width: 2.5px;
  border-radius: 9999px;

  /* box-shadow: 0 1px 0 rgb(228 134 134); */

  box-shadow: 5px 5px 5px -5px rgb(0 0 0 / 20%);
}

.turnSwitcherString {
  display: flex;
  width: 90px;
  height: 40px;
  margin-top: 8px;
  font-size: 30px;
  color: #fff;
}

.turnSwitcher {
  display: flex;
  width: 160px;
  height: 60px;
  margin-top: 23px;
  margin-left: 44px;

  /* border: solid; */
  border-radius: 15px;
}

.stoneNumBoardStyle {
  display: flex;
  align-items: center;
  width: 60px;
  height: 40px;
  margin-left: 100px;
  color: #fff;

  /* border: solid; */
  border-radius: 15px;
}

.stoneNumStyle {
  display: flex;
  width: 60px;
  height: 30px;
  margin-top: 10.5px;
  font-size: 25px;
  color: white;
}

.skipCountBoardStyle {
  display: flex;
  width: 300px;
  height: 30px;
}

.finishStyle {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 99%;
  color: rgb(77 77 77);
  background-color: rgb(233 120 120 / 50%);

  /* border: solid; */
  transition: width 0.4s linear;
}

.finishingBoard {
  top: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 30%;
  height: 40%;
  background-color: rgb(255 255 255 / 70%);
  border-radius: 50px;
  transition: width 0.4s ease-out;
}

.winnerString {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 20%;
  margin-top: 20%;
  font-size: 70px;
  color: black;

  /* border: solid; */
}

.endStoneNumString {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 20%;
  margin-top: 13%;
  font-size: 70px;
  color: black;

  /* border: solid; */
}

.restartButtomStyle {
  transition:
    background-color 0.3s ease-in,
    transform 0.3s ease-in;
}

.btn {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
  background-color: rgb(231 157 157);
  border-width: 2px;
  border-radius: 9999px;
  box-shadow: 0 7px 0 rgb(228 134 134);
}

.btn:active {
  box-shadow: none;
  transform: translateY(5px);
}
@keyframes blinking {
  0% {
    opacity: 0.4;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    display: flex;
    flex-flow: column;
  }

  .boardStyle {
    width: 400px;
    height: 400px;
  }

  .cellStyle {
    width: 50px;
    height: 50px;
  }

  .stoneStyle {
    width: 28px;
    height: 28px;
  }

  .canPlacePointStyle {
    width: 58px;
    height: 48px;
  }

  .scoreBoardStyle {
    margin-top: 8%;
    margin-left: 0;
  }

  .finishingBoard {
    width: 350px;
    height: 250px;
  }

  .winnerString {
    font-size: 35px;
  }

  .endStoneNumString {
    font-size: 35px;
  }

  /*
  .turnSwitcher {
    height: 50;
  } */

  @media screen and (max-width: 450px) {
    .boardStyle {
      width: 320px;
      height: 320px;
    }

    .cellStyle {
      width: 40px;
      height: 40px;
    }

    .stoneStyle {
      width: 20px;
      height: 20px;
    }

    .canPlacePointStyle {
      width: 48px;
      height: 38px;
    }
  }
}
