.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.boardStyle {
  display: flex;
  flex-wrap: wrap;
  width: 640px;
  height: 640px;
  background-color: green;
}

.cellStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: solid;
  border-color: black;
  border-width: 1px;
}

.stoneStyle {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: white;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 50%;
}

.turnContainerStyle {
  display: flex;
  width: 100px;
  height: 60px;
  background-color: black;
}

.canPlacePointStyle {
  display: flex;
  width: 30px;
  height: 30px;
  background-color: cornflowerblue;
  border: solid;
  border-width: 1px;
  border-radius: 50%;
}

.finishBoard {
  width: 200px;
  height: 100px;
  margin-left: 1100px;
  background-color: white;
}

.blackScoreStyle {
  display: flex;
  justify-content: center;
  float: left;
  width: 200px;
  height: 100px;
  border: solid;
  border-color: black;
  border-width: 2px;
}

.whiteScoreStyle {
  display: flex;
  justify-content: center;
  float: left;
  width: 200px;
  height: 100px;
  margin-left: 600px;
  border: solid;
  border-width: 2px;
}

.scoreBoardStyle {
  /* float: left; */
  width: 1000px;
  height: 100px;
  margin-bottom: 10px;
}

.displayStrings {
  display: flex;
  width: 80px;
  height: 10px;
}
